nav {
  position: sticky;
  top: 0em;
  left: 0;
  right: 0;
  z-index: 10;
  color: rgb(60,180,180);
}

#messageContainer {
  width: 100%;
  margin-top: 45px;
  margin-bottom: 35vh;
  z-index: 10;
}

/* Send Message board must stick to bottom */
#sendMessageBoardDiv {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35vh;
  border-top: 1px solid black;
  z-index: 10;
}

body {
  background-color: rgb(15, 220, 220);
}

.img-msg {
  border: 1px solid rgb(80,175,165);
  margin-bottom: 5px;
}

.tablero {
   background-color: rgb(80,175,165);
   border: 3px solid rgb(15, 220, 220);
  }

  .btnn {
    background-color: rgb(80,150,150);
    color: rgb(15, 220, 220);   
  }